* {
	box-sizing: border-box;
}

body {
	background-color: white;
	font-family: sans-serif;
	display: grid;
	align-content: start;
	justify-items: center;
	height: 100vh;
	overflow: auto;
	margin: 0;
	padding: 0;
}

#logo {
    height: 6vw;
    width: 6vw;
    margin: 2vw;
}

.signup {
    background-color: white;
	box-shadow: 0 0 5x 3px rgba(100, 100,100, 0.5);
    border-radius: .5vw;
    border: .1vw solid #d9d9d9;
    width: auto;
    height: auto;
    padding: 2vw;
    margin: 0;
    display: grid;
    align-content: center;
	justify-items: center;
}

h2 {
    padding: 0;
    margin:0 0 .5vw 0;
    color: black;
    font-size: 1.5vw;
    font-weight: 700;
}

#option {
    display: flex;
	align-self: center;
	justify-content: center;
    margin:.5vw;
}

#signIn {
    padding: 0;
    margin: 0;
    color: black;
    font-size: .7vw;
    font-weight: 200;
}

#and {
    padding-left: .3vw;
    margin: 0;
    color: black;
    font-size: .7vw;
    font-weight: 200;
}

#noAcc {
    padding-left: .3vw;
    margin: 0;
    color: #007BDB;
    font-size: .7vw;
    font-weight: 200;
}

#form_container {
    display: grid;
    align-content: center;
	justify-items: center;
    gap: .5vw;
    margin: 1vw;
}

.container {
    display: grid;
    align-content: center;
	justify-items: center;
    gap: 1vw;
}

input {
	background-color: #F0F0F0;
	border: .15vw solid #999999;
	border-radius: .5vw;
	width: 20vw;
	font-family: sans-serif;
	font-size: .8vw;;
	text-align: left;
	padding: .8vw;
}

textarea.area {
	background-color: #F0F0F0;
	border: .15vw solid #999999;
	border-radius: .5vw;
	width: 20vw;
    height: 5vw;
	font-family: sans-serif;
	font-size: .8vw;;
	text-align: left;
	padding: .8vw;
}

input:focus {
	outline: none;
}

textarea:focus {
	outline: none;
}

.btn {
    padding: .8vw;
    margin: 0;
    background-color: white;
    cursor: pointer; 
	width: 20vw;
    text-align: center;
    border: .15vw solid #059c00;
	border-radius: .5vw;
	color: #059c00;
    font-weight: bold;
    font-size: .8vw;
}

.btn:hover {
    color: white;
    background-color: #059c00;
}

.button-container {
	display: grid;
    align-content: center;
	justify-items: center;
	margin: 0;
}

#logIn {
    padding: 0;
    margin: 0;
    color:  #007BDB;
    font-size: 1vw;
}

#user {
    padding-left: .3vw;
    margin: 0;
    color: #007BDB;
    font-size: 1vw;
}

img.item {
    width: 10vw;
    height: 15vw;
	object-fit: cover;
}

div.field-container {
    display: grid;
    align-content: center;
	justify-items: center;
}

div.image-container {
    width: 10vw;
    height: 15vw;
}

label {
    font-size: .8vw;
    width: 100%;
    text-align: left;
}